git summary
git secrets --scan

echo
echo "snakemake --lt | xargs:"
snakemake --lt | xargs
echo

echo "Writing workflow/rulegraph.svg"
snakemake --rulegraph --forceall snakefile.smk 2>/dev/null | dot -Tsvg > workflow/rulegraph.svg &
